* {
  box-sizing: border-box; // чтобы padding + border не добавлялись к ширине и высоте, а входили в них
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-size: rem(11px);
  background-color: #f2f2f2;
  @include sm {
    font-family: sans-serif;
    background-color: #f2f2f2;
  }
  @include md {
    font-family: sans-serif;
    background-color: #f2f2f2;
  }
  @include lg {
    font-family: sans-serif;
    background-color: #f2f2f2;
  }
}
.wrapper {
  min-height: 100%; //   Для того чтобы wrapper оттолкнул footer
  overflow: hidden; // Чтобы не было горизонтального скролла
  position: relative; // Все absolute у детей будет отсчитываться от wrapper
}
.container {
  max-width: rem(308px);
  width: 90%;
  height: 100%;
  margin: 0 auto; // Выравнивание по центру горизонтально при любой ширине
  @include sm {
    max-width: rem(400px);
  }
  @include md {
    max-width: rem(752px);
  }
  @include lg {
    max-width: rem(956px);
  }
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none; // однотипный контент меню пагинация списками верстаем, чтобы не мешали отступы + точки
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: rem(1px);
  width: rem(1px);
  margin: rem(-1px);
  padding: 0;
  border: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  height: 100%;
}
.card {
  background: rgba(255, 0, 0, 0.3);
  border: 1px solid rgba(72, 72, 72, 0.2);
  margin-bottom: 20px;
  text-align: center;
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
  font-size: 22px;

  color: #1d1d1d;
}
.empty {
  height: rem(862px);
  @include md {
    height: rem(552px);
  }
}
